<%= form_with(model: @twiclone, local: true, url: choose_new_or_edit ) do |form| %>
<% if @twiclone.errors.any? %>
   <div id="error_explanation">
     <h2><%= @twiclone.errors.count %>errors.</h2>
     <ul>
       <% @twiclone.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
     </ul>
   </div>
<% end %>

   <div class ="content">
     <%= form.label :"tweet" %>
     <%= form.text_field :content %>
   </div>
   <%= form.submit %>
 <% end %>
 <%= link_to "Back", twiclones_path %>
